<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FIAlmes</title>
        <link rel="stylesheet" href="./style_css/style.css">
    </head>
    <body>
        <form id="form">
            <div class="field">
                <label for="barra">O que você deseja perguntar para a IA?</label>
                <input/>
                
                <button type="submit">Enviar</button>
            </div>
        </form>
    </body>
</html>