<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FIAlmes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form id="form">
            <label for="barra" class="label">O que você deseja perguntar para a IA?</label>
            <div class="linha-input">
                 <input id="barra" type="text" placeholder="Digite aqui..." />
                 <button type="submit">Enviar</button>
            </div>
        </form>
    </body>
</html>